/* Configuración del video de fondo */
#background-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que el video cubra la pantalla sin distorsión */
    z-index: -1; /* Coloca el video detrás de todo el contenido */
    opacity: 0.5; /* Ajusta la transparencia para que el contenido sea claramente visible */
  }
  
  /* Asegura que el contenido de React esté sobre el video */
  #root {
    position: relative;
    z-index: 1;
  }
  